<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>!function!ページ</title>
</head>

<body>
  <a href="top.php">トップへ戻る</a>
  <h1>!function!ページです</h1>
  <form action="!option!.php" method="post" enctype="multipart/form-data">
  <input type="hidden" name="mode" value="post">
  <table>
  <tr>
    <td>ID:</td><td><input type="text" name="id" size="35"></td>
  </tr><tr>
    <td>名前:</td><td><input type="text" name="name" size="35"></td>
  </tr><tr>
    <td>フリガナ:</td><td><input type="text" name="kana" size="35"></td>
  </tr><tr>
    <td>コース:</td>
    <td>
      <select name="c_id">
        <option value=""></option>
        <option value="a">入門コース</option>
        <option value="b">ビジネスコース</option>
        <option value="c">エキスパートコース</option>
      </select>
    </td>
  </tr><tr>
    <td>予約日:</td>
    <td>
      <select name="reserve">
        <option value=""></option>
        <option value="Sun">日曜日</option>
        <option value="Mon">月曜日</option>
        <option value="Tue">火曜日</option>
        <option value="Wed">水曜日</option>
        <option value="Thu">木曜日</option>
        <option value="Fri">金曜日</option>
        <option value="Sat">土曜日</option>
      </select>
    </td>
  </tr>
  </table>
  <input type="submit" name="send" value="検索">
  </form>
  
  !db_data!
  
</body>
</html>