<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<style type="text/css"></style>
</head>

<body>
<h1>ここは!name!先生のトップページです</h1>
<p>
お客様データベース
</p>
<form action="registration.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="mode" value="regist">
	<input type="submit" name="send" value="登録">
</form>
<form action="search.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="mode" value="search">
	<input type="submit" name="send" value="検索">
</form>
<form action="change.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="mode" value="change">
	<input type="submit" name="send" value="変更">
</form>
<form action="delete.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="mode" value="delete">
	<input type="submit" name="send" value="削除">
</form>
</body>

</html>